

.isList .left {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  margin-right: 39px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.pageTwoBox {
  margin-right: 20px;
  min-height: 463px;
  box-sizing: border-box;
}

.isImage {
  /* min-width: 370px; */
  /* max-width: 370px; */
  min-width: 303px;
  max-width: 370px;
  min-height: 288px;
  max-height: 288px;
  margin-right: 32px;
  margin-top: 30px;
}


.gameText {
  margin-top: 34px;
  font-size: 16px;
  color: #333333;
  font-weight: 700;
}

.text {
  margin-top: 25px;
  font-size: 24px;
}

