* {
  margin: 0;
  padding: 0;
}

div {
  cursor: pointer;
}

.mt-26 {
  margin-top: 26px;
  color: white;
}

.mt-30 {
  margin-top: 30px;
}

.mt-32 {
  margin-top: 32px;
}

.mt-32Text {
  margin-top: 32px;
  color: #666666;
}

.mt-30Text {
  margin-top: 30px;
  color: #666666;
}

.isMain {
  display: flex;
  margin-top: 30px;
  /* background-color: green; */
  min-height: 687px;
  max-height: 687px;
  padding-right: 90px;

}

.oneroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  bottom: 33px;
  /* left: 685px; */
  left: 605px;
}

.tworoundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  top: 213px;
  right: -62px;
  /* bottom: 102px;
  left: 685px; */
}

.threeroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  right: -33px;
  top: 334px;
}
.fourroundArrBg {
  min-width: 118px;
  min-height: 118px;
  background: url('../../assets/images/roundArrBg.png');
  position: absolute;
  background-size: cover;
  right: 90px;
  bottom: -63px;
}


.isImg {
  min-width: 640px;
  max-width: 733px;
  background: url(../../assets/images/main_left.jpg);
  background-size: cover;
}

.isRight {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 120px;
  margin-top: 170px;
  /* padding-right: 90px; */
  min-width: 650px;
  position: relative;
}

.mt-40 {
  margin-top: 40px;
}

.mt-40Text {
  line-height: 30px;
}
.fz-16 {
  font-size: 16px;
}
.colorBlack {
  color: #333333 !important;
}
.fz-24 {
  font-size: 24px;
}

.isRight .isRight_btn {
  font-size: 14px;
  margin-top: 37px;
  width: 204px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #ffffff;
  background-color: #1f6256;
}

.isRight .isGreenBox {
  width: 85px;
  height: 64px;
  background-color: rgb(67, 204, 116);
  position: absolute;
  right: -180px;
  bottom: -40px;
}

.container .isCenter {
  box-sizing: border-box;
  padding-right: 90px;
  margin-top: 233px;
  padding-left: 210px;
  display: flex;
  box-sizing: border-box;
  position: relative;
  /* height: 800px; */
}
.bgShadow {
  background: #FFFFFF;
box-shadow: 0px 25px 55px rgba(126, 126, 126, 0.15);
}

.isCenter_left {
  margin-top: 150px;
  /* max-width: 50%; */
  max-width: 40%;
}

.isCenter_left .isBtn {
  margin-top: 32px;
  color: white;
  width: 158px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 8px;
  background-color: #1f6256;
}

.isCenter_right {
  margin-left: 220px;
  min-width: 413px;
  display: flex;
  max-width: 40%;
}

.isCenter_right_item {
  /* background-color: white; */
  height: 505px;
  min-width: 296px;
  max-width: 296px;
  min-height: 328px;
  height: 328px;
  margin-right: 43px;
  padding-left: 28px;
  padding-top: 44px;
}

.isIcon {
  background-color: rgb(216, 243, 238);
  min-height: 57px;
  max-height: 57px;
  min-width: 57px;
  max-width: 57px;
  border-radius: 50%;
}

.isCenter_right_itemR {
  /* background-color: red; */
  margin-top: -44px;
}

.isBgWhite {
  background-color: white;
}

.isLogin {
  display: flex;
  padding-left: 198px;
  padding-right: 15px;
  margin-top: 272px;
  /* height: 400px; */
  background-color: rgb(57, 154, 137);
  padding-bottom: 29px;  
  position: relative;
  justify-content:space-between;
  padding-right: 216px;
}
.isCreate {
  padding-left: 141px;
}
.isCreateTip {
  margin-left: -100px
}
.isLoginAfterFaceBox {
  /* margin-left: -100px */
  padding-left: 151px;
}

.isLogin-left {
  width: 50%;
  margin-top: 98px;
  display: flex;
  flex-direction: column;
  padding-left: 78px;
}

.isLogin-left .isLoginAfterImg {
  margin-top: -22px;
  min-width: 175px;
  max-width: 175px;
  min-height: 173px;
  max-height: 173px;
  border-radius: 50%;
  /* background-color: red; */
  background: no-repeat;
}

.isLogin-left .isTitle {
  font-size: 48px;
  color: white;
}
.fz-48 {
  font-family: 'Raleway';
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
}

.fz-64 {
  font-family:'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
}
.isLogin-left .isTip {
  margin-top: 43px;
  color: white;
  font-size: 14px;
}

.isLogin-right {
  width: 53%;
}

.isLogin-right .isName {
  color: white;
  margin-top: 65px;
  font-size: 48px;
}
.isLogin-right .isIptSize {
  font-size: 16px;
}

/* 登陆后的 */
.isNameT {
  color: white;
  margin-top: 95px;
  padding-bottom: 118px;
  
}

.isNameT .isLoginBtn {
  color: #ffffff !important;
  margin-top: 58px;
  width: 111px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 8px;
  background-color: #fca100;
}

.loginAfterName {
  color: white;
  font-size: 36px;
}

.loginAfter {
  color: white;
  font-size: 36px;
  margin-top: 40px;
}

.isLoginAfter {
  justify-content: flex-start !important;
}
.isLoginAfter-left {
  width: 20%;
}

.isLoginAfterBtn {
  margin-left: 190px;
}
.isLogin-right .isName .isIpt {
  margin-top: 24px;
  display: block;
  width: 505px;
  height: 58px;
  padding-left: 30px;
  border: none;
  border-radius: 15px;
  outline: none;
}

.loginFotter {
  display: flex;
  justify-content: center;
  /* position: relative; */
}

.loginFotter .isLoginBtn {
  margin-top: 14px;
  width: 111px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  border-radius: 8px;
  background-color: #fca100;
  color: white;
  /* margin-left: 160px; */
  margin-left: 400px;
  
}

.loginFotter .isLoginBtnT {
  color: white;
  width: 200px;
  margin-right: 120px;
}

.isWaiting {
  height: 385px;
  margin-top: 175px;
  display: flex;
  box-sizing: border-box;
}

.isWaiting .left {
  padding-left: 269px;
}

.isWaiting .left .title {
  font-size: 14px;
  color: #b2b2b2;
}

.isWaiting .left .isWaitingText {
  font-size: 48px;
  font-weight: 700px;
  margin-top: 47px;

}

.isWaiting .left .tip {
  margin-top: 44px;
  font-size: 14px;
  color: #707070;
}

.isWaiting .right {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

}

.isWaiting .right .isBtn {
  display: flex;
  margin-right: 147px;
}

.Btn {
  width: 58px;
  height: 58px;
  line-height: 58px;
  text-align: center;
  cursor: pointer;
  font-size: 20px;

}

.isActiveT {
  background-color: #1f6256;
}

.footer {
  margin-top: 100px;
  display: flex;
  min-height: 334px;
  box-sizing: border-box;
  background-color: #319b88;
  padding: 102px 0 90px 289px;
}

.mr-138 {
  margin-right: 138px;
}

.mt-38 {
  margin-top: 38px;
  cursor: pointer;
}

.footer_btn .footer_btn {
  display: flex;
}

.btnArr {
  display: flex;
}

.ft_btn {
  cursor: pointer;
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background-color: #fca100;
  border-radius: 50%;
  margin-right: 17px;
}